@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.signUpPage {
  @include display-flex(column,center,center);
  margin-top: 10rem;

  .signup {
    padding: 2rem;
    @include display-flex(column,center,center);
    @include tablet {
      border: 1px solid black;
    }
    &__logo {
      @include display-flex(column,center,center);
      margin-bottom: 2rem;
    }
    &__img {
      height: 75px;
    }
    &__form {
      @include display-flex(column,center,center);
    }

    &__input {
      margin: 0.5rem 0rem;
    }
    &__btn {
      margin: 0.5rem 0rem;
    }
  }
}