@use "./styles/partials/reset" as *;
@import "./styles/partials/variables";
@import "./styles/partials/mixins";

* {
  box-sizing: border-box;
  color: $input-text-color;
}

body {
  font-family: $main-font-regular;
  height: 100vh;
  position: relative;

  .App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // .wrapper {
    //   max-width: 1000px;
    //   margin: 0 auto;
    // }
  }
}