@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.graph {
  background-color: rgba(243, 240, 240, 0.534);
  padding: 1rem;
  border-radius: $radius;
  position: relative;
  width: 100%;

  canvas {
    max-height: 450px;
    position: relative;
  }
}
