@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.data {
  margin: 2rem 0rem;
  @include tablet {
    max-width: $wrapper-width;
    border: 1px solid $border-color;
    border-radius: $radius;
    padding: 2rem;
    @include display-flex(row, space-evenly, flex-start);

    &-left {
      @include tablet {
        width: 40%;
      }
    }
    &-right {
      @include tablet {
        width: 40%;
      }
    }
  }

  &-tooltip-wrap {
    @include display-flex(row, space-between, center);
  }
  &__item {
    @include display-flex(row, space-between, center);
    padding: 1rem 0.5rem;
    border-top: 1px solid $light-border-color;

    &--first {
      border-top: none;
    }
  }

  &__value {
    &--buy {
      color: $rec-color-buy;
    }
    &--hold {
      color: $rec-color-hold;
    }
    &--sell {
      color: $rec-color-sell;
    }
  }
}
