@import "./variables";

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin wrapper {
  max-width: $wrapper-width;
  position: relative;
  // height: 100vh;
  margin: 0 auto;
  width: 100%;

  @include desktop {
    padding: 0rem;
  }
}

// Other mixins:

@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin paddingSection {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
}

@mixin backgroundAnimation {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@mixin backgroundGradient {
  background: linear-gradient(
    38deg,
    #ee7752,
    #e96195,
    #23a6d5,
    #23d5ab,
    #4379ff
  );
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
  @include backgroundAnimation;
}

@mixin authCard {
  padding: 3rem 4rem 3rem 4rem;
  background-color: $global-white;
  border-radius: $radius;
  width: 90%;
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;
  border: transparent;
  box-shadow: rgb(59 59 59 / 5%) 0px 5px 15px 0px;
}

@mixin btn {
  background-color: $main-color;
  color: $global-white;
  border: transparent;
  border-radius: $radius;
  font-size: $secondary-font-size;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.15);
  transition: 0.2s all;
  @include tablet {
    padding: 0.5rem 1rem;
    font-size: $main-font-size;
  }

  &:hover {
    transition: 0.2s;
    background-color: $btn-hover-color;
  }
  &:active {
    transform: scale(0.95);
    box-shadow: none;
  }
}

@mixin input {
  border-radius: $radius;
  border: 1px solid rgb(180, 180, 180);
  padding: 0.5rem;
  font-size: $main-font-size;
  color: $input-text-color;

  &:hover {
    border-color: $main-color;
  }
  &:focus {
    outline-color: $main-color;
  }
}

@mixin link {
  color: #4379ff;
  text-decoration: none;
  font-size: $main-font-size;

  &:hover {
    transition: 0.5s;
    color: $btn-hover-color;
    color: $btn-hover-color;
    font-weight: 900;
  }
}
@mixin link-home {
  color: #4379ff;
  text-decoration: none;
  font-size: $main-font-size;

  &:hover {
    transition: 0.5s;
    color: $global-white;
    font-weight: 900;
    background-color: $main-color;
    padding: 0.5rem;
    border-radius: $radius;
  }
}
