@import "./variables";

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}


// Other mixins:

@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin paddingSection {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
}

@mixin backgroundAnimation {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@mixin backgroundGradient {
  background: linear-gradient(38deg, #ee7752, #e96195, #23a6d5, #23d5ab, #4379FF);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
  @include backgroundAnimation;
}

@mixin authCard {
  padding: 3rem 4rem 3rem 4rem;
  background-color: $global-white;
  border-radius: 10px;
  width: 90%;
  min-width: 300px;
  max-width: 500px;
  height: 50vh;
  min-height: 300px;
  max-height: 500px;
  border: transparent;
  box-shadow: rgb(59 59 59 / 5%) 0px 5px 15px 0px;
}

@mixin btn {
  background-color: $main-color;
  color: $global-white;
  border: transparent;
  border-radius: 10px;
  font-size: $main-font-size;
  padding: 0.5rem 2rem;
  width: 50%;
  cursor: pointer;

  &:hover {
    transition: 0.5s;
    background-color: $btn-hover-color;
  }
}

@mixin input {
  border-radius: 10px;
  border: 1px solid rgb(180, 180, 180);
  padding: 0.5rem;
  font-size: $main-font-size;
  color: $input-text-color;

  &:hover {
    border-color: $main-color;
  }
  &:focus {
    outline-color: $main-color;
  }
}

@mixin link {
  color:#4379FF;
  text-decoration: none;
  font-size: $main-font-size;

  &:hover {
    transition: 0.5s;
    color: $btn-hover-color;
    color: $btn-hover-color;
    font-weight: 900;
  }
}
@mixin link-home {
  color:#4379FF;
  text-decoration: none;
  font-size: $main-font-size;

  &:hover {
    transition: 0.5s;
    // color: $btn-hover-color;
    color: $global-white;
    font-weight: 900;
    background-color: $main-color;
    padding: 0.5rem;
    border-radius: 10px;
  }
}