@use "./fonts" as *;

// breakpoints

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1280px,
);

// colors


//font variables
// $main-font-light:
$main-font-regular: 'Roboto', sans-serif;
// $main-font-bold:
//font sizes