@use "./fonts" as *;

// breakpoints

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1280px,
);

// colors
$stock-up-color: green;
$stock-down-color: red;
$global-white: #FFF;

$btn-hover-color: blue;

//font variables
$main-font-regular: 'Roboto', sans-serif;

//font sizes

