@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.watchlist {
  // @include paddingSection;
  @include desktop {
    padding: 2rem 0rem;
  }
  &-top {
    @include display-flex(row,space-between,center);
    margin-bottom: 2rem;
  }
  &__link {
    text-decoration: none;
  }

  &__btn {
    @include btn;
    @include display-flex(row,center,center);
  }

  &__textBtn {
    color: $global-white;
  }
  &__title {
    font-size: $logo-font-size;
  }

  .labels {
    @include display-flex(row,space-between,center);
    display: flex;
    width: 90%;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: $labels-font-size;

    &__left {
      width: 57%;
      @include display-flex(row,space-between,center);
    }
    &__item {
      width: 50%;
      font-size: $main-font-size;

      &--ticker {
        width: 40%;
      }
      &--name {
        width: 60%;
      }
    }
    &__right {
      width: 43%;
      @include display-flex(row,space-between,center);
    }
  }
}