@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include display-flex(row,space-between,center);
  border-top: 1px solid black;
  @include paddingSection;
  @include tablet {
    @include display-flex(row,flex-end,center);
    padding: 1rem 2rem;
  }
  &__box {
    margin-left: 0.5rem;

  }
  &__link {
    margin-left: 0.5rem;

  }
  &__img {
    height: 32px;
  }
}
