@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.stock {
  @include display-flex(row, space-between, center);
  border-top: 1px solid black;
  padding: 1rem 0rem;
  &-box {
    @include display-flex(row, space-between, center);
    width: 90%;
  }
  &__left {
    width: 57%;
    @include display-flex(row, space-between, center);
    @include tablet {
    }
  }

  &__right {
    @include display-flex(row, flex-end, center);
    width: 43%;
  }

  &__data {
    width: 50%;
    padding-right: 1rem;
    font-size: $secondary-font-size;
    @include tablet {
      font-size: $main-font-size;
    }

    &--ticker {
      width: 40%;
    }

    &--name {
      width: 60%;
    }

    &--up {
      color: $rec-color-buy;
    }
    &--down {
      color: $rec-color-sell;
    }
  }
  &__delBtn {
    background-color: transparent; // not sure
    border: none;
    cursor: pointer;

    &:hover {
      filter: invert(17%) sepia(81%) saturate(5861%) hue-rotate(357deg) brightness(95%) contrast(121%);
    }
  }
}
