@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.time {
  padding: 1rem 0rem;
  &__container {

  }
  &__btn {
    // background-color: $global-white;
    // border: none;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
    &:hover {
      color: $btn-hover-color;
    }
    &:focus {
      // border-bottom: 2px solid $btn-hover-color;
      color: $global-white;
      background-color: blue;
      border-style: inset;
    }
  }

}