@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.quote {
  &__top {
    @include display-flex(row,space-between,center);
    margin-bottom: 1.5rem;
    @include tablet {
      border-bottom: 1px solid $input-text-color;
      padding: 1rem 0rem;
    }
  }
  &__ticker {
    margin-bottom: 0.5rem;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__exchange {
    font-size: 16px;
    color: rgb(189, 185, 185);
  }
  &__name {
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  &__btn {
    @include btn;
    @include display-flex(row,center,center);
    .quote__textBtn {
      color: $global-white;
    }
  }
  &__bottom {
    @include display-flex(row,flex-start,center);
    width:100%;
    div {
      margin-right: 1rem;
    }
  }
  &__var {
    color: $stock-up-color;
    display: flex;
    align-items: center;
  }

  &__var--down {
    color: $stock-down-color;
    display: flex;
    align-items: center;
  }
}