@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.navBar {
  @include display-flex(column,center,center);
  @include paddingSection;
  border-bottom: 1px solid black;
  @include tablet {
    padding: 1rem 2rem;
    justify-content: flex-start;
  }

  .nav {
    width: 100%;
    @include display-flex(row,space-between,center);
    @include tablet {
    }
    &__img {
      height: 75px;
    }
    &__left {
      @include display-flex(row,flex-start,center);
    }
    &__link {
      margin-left: 1rem;
      display: none;
      @include tablet {
        display: flex;
      }
      &--signout {
        display: flex;
      }
    }
  }

  .navBar-bottom {
    width: 100%;
    @include tablet {
      @include display-flex(column-reverse,center,center);
    }
    .search {
      border: 1px solid black;
      padding: 8px 8px 8px 8px;
      width: 100%;
      @include display-flex(row,flex-start,center);
      margin: 8px 0px;
      @include tablet {
        width: 70%;
      }

      &__input {
        border: none;
        padding: 0;
        outline: none;
        font-size: 20px;
        height: 100%;
        width: 100%;
        color: grey; // TO CHANGE LATER
      }
    }

    .btns {
      width: 100%;
      @include display-flex(row,space-around,center);
      margin: 1rem 0rem 0.5rem 0rem;
      @include tablet {
        justify-content: space-between;
        width: 20%;
        margin: 0;
      }
      &__link {
        @include tablet {
          display: none;
        }
      }
    }
  }
}